<div id="right-sidebar"> 
	<div class="innerdiv"> 
		<h2 class="head">Ferramentas</h2> 
		<div class="innercontent clear"> 
			<h4>Análises</h4> 
			<ul id="comments"> 
				<% if @control.items.size>0 %>
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Média e Amplitude", variaveis_tipo_1_media_control_path(@control)%></span> 
					<span class="description"><%= link_to "Controle Por Variáveis", variaveis_tipo_1_media_control_path(@control)%></span> 
					<span class="date"></span> </a> 
					<br class="clear"/> 
				</li> 
				
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Média e Desvio Padrão", variaveis_tipo_2_media_control_path(@control)%></span> 
					<span class="description"><%= link_to "Controle Por Variáveis", variaveis_tipo_2_media_control_path(@control)%></span> 
					<span class="date"></span> </a> 
					<br class="clear"/> 
				</li>
				
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Mediana e Amplitude", variaveis_tipo_3_mediana_control_path(@control)%></span> 
					<span class="description"><%= link_to "Controle Por Variáveis", variaveis_tipo_3_mediana_control_path(@control)%></span> 
					<span class="date"></span> </a> 
					<br class="clear"/> 
				</li>
				<% else %>
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Controle por Atributos", atributos_p_control_path(@control)%></span> 
					<span class="description"><%= link_to "Carta P", atributos_p_control_path(@control)%></span> 
					<span class="date"><%= link_to "Fração de defeituosos", atributos_p_control_path(@control)%></span> </a> 
					<br class="clear"/> 
				</li>
				
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Controle por Atributos", atributos_np_control_path(@control)%></span> 
					<span class="description"><%= link_to "Carta NP", atributos_np_control_path(@control)%></span> 
					<span class="date"><%= link_to "Fração de defeituosos", atributos_np_control_path(@control)%></span> </a> 
					<br class="clear"/> 
				</li>
				
				<li>
					<%= image_tag "icons/stats.png"%>
					<span class="sender"><%= link_to "Controle por Atributos", atributos_c_control_path(@control)%></span> 
					<span class="description"><%= link_to "Carta C", atributos_c_control_path(@control)%></span> 
					<span class="date"><%= link_to "Não-conformidades por unidade", atributos_c_control_path(@control)%></span> </a> 
					<br class="clear"/> 
				</li>
				<% end %>
			</ul> 
		</div> 
	</div> 
</div>