<table class="full">
	<thead>
		<tr class="alt">
			<th>Amostra</th>
			<th>Data</th>
			
			<% if @control.items.size>0 %>
			<th>Ítens</th>
						<th>Média</th>
						<th>Amplitude</th>
						<th>Desvio Padrão</th>
						<th>Mediana</th>
						
						<% else %>
						
						<th>Tamanho da amostra</th>
						<th>Defeitos</th>
						
						<% end %>
						<th></th>
		</tr>
	</thead>
	
	<tbody>
		<% @samples.each_with_index do |amostra, i| %>
		<tr class="<%= cycle('alt','')%>">
			<td><%= i+1 %></td>
			<td><%= l amostra.tempo, :format=>:short %></td>
			
			<% if @control.items.size>0 %>
			<td><%= amostra.items.size %></td>
						<td><%= amostra.media.round(2) %></td>
						<td><%= amostra.amplitude.round(2) %></td>
						<td><%= amostra.desvio_padrao.round(2) %></td>
						<td><%= amostra.mediana.round(2) %></td>
						
						<% else %>
						
						<td><%= amostra.tamanho_da_amostra.round(2) %></td>
						<td><%= amostra.itens_defeituosos.round(2) %></td>
						
						<% end %>
			
			<td>
			<!-- Icons -->
			<%= link_to image_tag('icons/edit.png'), edit_control_sample_path(@control, amostra)%>
			</td>
		</tr>
		<% end %>
		</tbody>
</table>

