<script>
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25
      },
      title: {
         text: 'Controle Estatístico de Processo - Controle por Variáveis',
         x: -20 //center
      },
      subtitle: {
         text: 'Mediana',
         x: -20
      },
      xAxis: {
         categories: [<%= (1..(@lc_mediana.size+1)).to_a.join(",") %>]
      },
      yAxis: {
         title: {
            text: 'Valor'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]

      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y;
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: 'LC',
         data: <%= formatar_dados @control.samples, :limite_central, :mediana %>
      },{
	     name: 'LCI',
	     data: <%= formatar_dados @control.samples, :limite_inferior, :mediana %>
	  },{
		 name: 'LCS',
		 data: <%= formatar_dados @control.samples, :limite_superior, :mediana %>
	  }	,{
			 name: 'Amplitude', 
			 data: <%= formatar_dados @control.samples, :mediana, {:comparar=>:limite_superior} %>
		  }]
   });


});


</script>

<div class="innerdiv">
			<!-- Tabs -->
			<h2 class="head-alt-white"><%= @control.nome %></h2>
			<!-- the tabs -->
			<ul class="tabs">
				<li><%= link_to "Mediana", variaveis_tipo_3_mediana_control_path(@control), :class=>:current %></li>
				<li><%= link_to "Amplitude", variaveis_tipo_3_amplitude_control_path(@control) %></li>
			</ul>
			<div class="innercontent">
				<!-- tab "panes" -->
				<div class="panes">
					<div style="display: block; " id="container">
						
					</div>
				</div>
			</div>
		</div>