<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
<title>CEP :: Controle Estatístico de Processos</title> 

<%= stylesheet_link_tag "main" %>
<%= stylesheet_link_tag "colors/red" %>
<%= stylesheet_link_tag "superfish" %>

 
<%= javascript_include_tag "jquery-1.4.2.min" %>
<%= javascript_include_tag "jquery.hoverIntent.minified" %>
<%= javascript_include_tag "superfish" %>
<%= javascript_include_tag "jquery.tools.min" %>
<%= javascript_include_tag "jquery.simplemodal" %>
<%= javascript_include_tag "jquery.notifyBar" %>
<%= javascript_include_tag "jquery.tipsy" %>
<%= javascript_include_tag "enhance" %>
<%= javascript_include_tag "excanvas" %>
<%= javascript_include_tag "visualize.jQuery" %>
<%= javascript_include_tag "jQuery.collapsible" %>
<%= javascript_include_tag "jquery.autoSuggest.packed" %>
<%= javascript_include_tag "platinum-admin" %>

</head> 
 
<body> 
 
<div id="header"> 
	<div id="header-top"> 
		<div id="logo"> 
			<h1>CEP</h1> 
			<span id="slogan">controle estatístico de processos</span> </div> 
		<!-- end logo --> 
		<div id="login-info"> 
			<%= image_tag "icons/user.png", :id=>:profile %>
			<p id="top"><span id="name"><%= current_user.name %></span><br /> 
			<span id="links"> 
			<a id="message-link" href="#" title="click to see the messages!"> 
			
			<%= link_to 'sair', destroy_user_session_path, :id=>"power"%>
			
		</div> 
		<!-- end login --> 
		<div id="nav"> 
			<ul class="sf-menu sf-navbar"> 
				<li><a id="dashboard" href="#a">Principal</a> 
				<ul> 
					<li><a href="#">dashboard with no submenu, this is description!</a> 
					</li> 
				</ul> 
				</li> 
				<li class="current"><a id="articles" href="#a">CEP's</a> 
				<ul> 
					<li class="current"><%= link_to "Novo Controle", new_control_path %></li> 
					<li><%= link_to "Gerenciar Controles", controls_path %></li> 
				</ul> 
				</li> 
				<li><a id="users" href="#">Usuários</a> 
				<ul> 
					<li><a href="#">list users</a> 
					<ul> 
						<li><a href="#">Admins</a></li> 
						<li><a href="#">Editors</a></li> 
						<li><a href="#">Writers</a></li> 
						<li><a href="#">Others</a></li> 
					</ul> 
					</li> 
					<li><a href="#">roles</a> 
					<ul> 
						<li><a href="#">List Roles</a></li> 
						<li><a href="#">Add Role</a></li> 
						<li><a href="#">Delete Role</a></li> 
						<li><a href="#">Edit Roles</a></li> 
					</ul> 
					</li> 
					<li><a href="#">manage</a> </li> 
					<li><a href="#">edit</a> </li> 
				</ul> 
				</li> 
				<li><a id="settings" href="#">Configurações</a> 
				<ul> 
					<li><a href="#">themes</a> 
					<ul> 
						<li><a href="#">Change Theme</a></li> 
						<li><a href="#">Edit Theme</a></li> 
					</ul> 
					</li> 
					<li><a href="#">profile</a> 
					<ul> 
						<li><a href="#">Profile picture</a></li> 
						<li><a href="#">Messages</a></li> 
						<li><a href="#">Other Settings</a></li> 
					</ul> 
					</li> 
					<li><a href="#">menu item</a> </li> 
					<li><a href="#">menu item</a> </li> 
				</ul> 
				</li> 
			</ul> 
		</div> 
		<!-- end div#nav --></div> 
	<!-- end div#header-top --> 
	<div class="breadCrumb">

		<%= render_navigation(:renderer => :breadcrumbs) %> 
	</div> 
	 
	<!-- end div#search-box --></div> 
<!-- end header --> 
<div id="page-wrap"> 
	<%= render "home/sidebar" %>
	<!-- end right-sidebar --> 
	<div id="main-content"> 
		<% if notice %>
		<div class="notification successfull closable">
			<%= notice %> <span class="closelink" title="Close"></span>
		</div>
		<% end %>
		
		<%= yield %>
		
	</div> 
	<!-- end main-content --></div> 
<!-- end page-wrap --> 
<div id="footer"> 
	<p>© 2010 sanderson.santana@gmail.com</p> 
</div> 
<!-- end footer --> 
 
</body> 
<script>
$(document).ready(function() {
	$(".breadCrumb li:first").addClass("first");
	$(".breadCrumb li:last").addClass("last");
	$("#main-content").css('min-height', 500)
});
</script>
</html>