<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
<title>CEP :: Controle Estatístico de Processos</title> 

<%= stylesheet_link_tag "main" %>
<%= stylesheet_link_tag "colors/red" %>
<%= stylesheet_link_tag "superfish" %>

 
<%= javascript_include_tag "jquery-1.4.2.min" %>
<%= javascript_include_tag "jquery.hoverIntent.minified" %>
<%= javascript_include_tag "superfish" %>
<%= javascript_include_tag "jquery.tools.min" %>
<%= javascript_include_tag "jquery.simplemodal" %>
<%= javascript_include_tag "jquery.notifyBar" %>
<%= javascript_include_tag "jquery.tipsy" %>
<%= javascript_include_tag "enhance" %>
<%= javascript_include_tag "excanvas" %>
<%= javascript_include_tag "visualize.jQuery" %>
<%= javascript_include_tag "jQuery.collapsible" %>
<%= javascript_include_tag "jquery.autoSuggest.packed" %>
<%= javascript_include_tag "platinum-admin" %>

</head> 
 
<body> 
 
<div id="header"> 
	<div id="header-top"> 
		<div id="logo"> 
			<h1>CEP</h1> 
			<span id="slogan">controle estatístico de processos</span> </div> 
		<!-- end logo --> 
		<div id="login-info"> 
			<img id="profile" alt="profile" src="images/icons/user.png" /> 
			<p id="top"><span id="name"><%= current_user.name %></span><br /> 
			<span id="links"> 
			<a id="message-link" href="#" title="click to see the messages!"> 
			
			<%= link_to 'sair', destroy_user_session_path, :id=>"power"%>
			
		</div> 
		<!-- end login --> 
		<div id="nav"> 
			<ul class="sf-menu sf-navbar"> 
				<li><a id="dashboard" href="#a">Principal</a> 
				<ul> 
					<li><a href="#">dashboard with no submenu, this is description!</a> 
					</li> 
				</ul> 
				</li> 
				<li class="current"><a id="articles" href="#a">CEP's</a> 
				<ul> 
					<li class="current"><%= link_to "Novo Controle", new_control_path %></li> 
					<li><a href="#ab">manage articles</a> 
					<ul> 
						<li><a href="#">New Article</a></li> 
						<li><a href="#aba">List All</a></li> 
						<li><a href="#abb">Add New</a></li> 
						<li><a href="#abc">Categorys</a></li> 
						<li><a href="#abd">Tags</a></li> 
					</ul> 
					</li> 
					<li><a href="#">categorys</a> </li> 
					<li><a href="#">tags</a> </li> 
				</ul> 
				</li> 
				<li><a id="users" href="#">Usuários</a> 
				<ul> 
					<li><a href="#">list users</a> 
					<ul> 
						<li><a href="#">Admins</a></li> 
						<li><a href="#">Editors</a></li> 
						<li><a href="#">Writers</a></li> 
						<li><a href="#">Others</a></li> 
					</ul> 
					</li> 
					<li><a href="#">roles</a> 
					<ul> 
						<li><a href="#">List Roles</a></li> 
						<li><a href="#">Add Role</a></li> 
						<li><a href="#">Delete Role</a></li> 
						<li><a href="#">Edit Roles</a></li> 
					</ul> 
					</li> 
					<li><a href="#">manage</a> </li> 
					<li><a href="#">edit</a> </li> 
				</ul> 
				</li> 
				<li><a id="settings" href="#">Configurações</a> 
				<ul> 
					<li><a href="#">themes</a> 
					<ul> 
						<li><a href="#">Change Theme</a></li> 
						<li><a href="#">Edit Theme</a></li> 
					</ul> 
					</li> 
					<li><a href="#">profile</a> 
					<ul> 
						<li><a href="#">Profile picture</a></li> 
						<li><a href="#">Messages</a></li> 
						<li><a href="#">Other Settings</a></li> 
					</ul> 
					</li> 
					<li><a href="#">menu item</a> </li> 
					<li><a href="#">menu item</a> </li> 
				</ul> 
				</li> 
			</ul> 
		</div> 
		<!-- end div#nav --></div> 
	<!-- end div#header-top --> 
	<div class="breadCrumb"> 
		<ul> 
			<li class="first"><a href="#">Home</a> </li> 
			<li><a href="#">Users</a> </li> 
			<li><a href="#">Roles</a> </li> 
			<li class="last">Add new role </li> 
		</ul> 
	</div> 
	 
	<!-- end div#search-box --></div> 
<!-- end header --> 
<div id="page-wrap"> 
	<%= render "home/sidebar" %>
	<!-- end right-sidebar --> 
	<div id="main-content"> 
		
		<div class="innerdiv"> 
			<!-- Tabs --> 
			<h2 class="head-alt-white">Tabs</h2> 
			<!-- the tabs --> 
			<ul class="tabs"> 
				<li><a href="#">Tables</a></li> 
				<li><a href="#">Typography</a></li> 
				<li><a href="#">Forms</a></li> 
			</ul> 
			<div class="innercontent"> 
				<!-- tab "panes" --> 
				<div class="panes"> 
					<div> 
						<table class="full"> 
							<thead> 
								<tr> 
									<th> 
									<input class="check-all" type="checkbox" /></th> 
									<th>Article</th> 
									<th>Status</th> 
									<th>Url</th> 
									<th>Column 3</th> 
									<th>Column 4</th> 
									<th>Column 5</th> 
								</tr> 
							</thead> 
							<tfoot> 
								<tr> 
									<td colspan="7"> 
									<div class="bulk-actions"> 
										<select name="dropdown"> 
										<option value="option1">Choose an action...
										</option> 
										<option value="option2">Edit</option> 
										<option value="option3">Delete</option> 
										<option value="option3">Approve</option> 
										</select> <a class="button" href="#">Apply 
										to selected</a> </div> 
									<div class="pagination"> 
										<a href="#" title="First Page">« First</a><a href="#" title="Previous Page">« 
										Previous</a> 
										<a class="number" href="#" title="1">1</a> 
										<a class="number" href="#" title="2">2</a> 
										<a class="number" href="#" title="3">3</a> 
										<a class="number current" href="#" title="4"> 
										4</a> 
										<a class="disabled-page" href="#" title="Next Page"> 
										Next »</a><a class="disabled-page" href="#" title="Last Page">Last 
										»</a> </div> 
									<!-- End .pagination --> 
									<div class="clear"> 
									</div> 
									</td> 
								</tr> 
							</tfoot> 
							<tbody class="tooltip-enabled"> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td><h5>Best CSS Tricks!</h5></td> 
									<td><a href="#" title="Approved"> 
									<img alt="Approved" src="images/icons/ok.png" /></a></td> 
									<td><a href="#" title="title">best_css_tricks</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td><h5>CSS3 Practices!</h5></td> 
									<td><a href="#" title="Approved"> 
									<img alt="Approved" src="images/icons/ok.png" /></a></td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td>Waiting</td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td><a href="#" title="Approved"> 
									<img alt="Approved" src="images/icons/ok.png" /></a></td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td><a href="#" title="Approved"> 
									<img alt="Approved" src="images/icons/ok.png" /></a></td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td><a href="#" title="Approved"> 
									<img alt="Approved" src="images/icons/ok.png" /></a></td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td>Waiting</td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								<tr> 
									<td><input type="checkbox" /></td> 
									<td>Lorem ipsum dolor</td> 
									<td>Waiting</td> 
									<td><a href="#" title="title">Sit amet</a></td> 
									<td>Consectetur adipiscing</td> 
									<td>Donec tortor diam</td> 
									<td> 
									<!-- Icons --><a href="#" title="Edit"> 
									<img alt="Edit" src="images/icons/edit.png" /></a> 
									<a href="#" title="Delete"> 
									<img alt="Delete" src="images/icons/delete.png" /></a> 
									<a href="#" title="Add"> 
									<img alt="Add" src="images/icons/add.png" /></a> 
									</td> 
								</tr> 
								</tbody> 
						</table> 
					</div> 
					<div> 
						<h2>Header h2</h2> 
						<h3>Header h3</h3> 
						<h4>Header h4</h4> 
						<h5>Header h5</h5> 
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						<a href="#">Nam sapien dolor</a>, ultrices a rutrum quis, 
						convallis nec nisi. <del>Morbi lorem est</del>, pellentesque 
						ac suscipit ut, fringilla sit amet elit. Cras blandit turpis 
						vitae augue laoreet gravida. Suspendisse potenti. Nullam 
						vitae dui quam. Cras fringilla tincidunt metus venenatis 
						suscipit. Vestibulum feugiat felis tincidunt felis fermentum 
						fringilla. In a ante metus. Nullam consequat hendrerit orci 
						quis volutpat. Etiam a libero nunc. Sed convallis suscipit 
						lectus quis hendrerit. Aliquam et elementum risus. Proin 
						at feugiat lacus. Suspendisse non odio ante, et porta turpis. 
						Integer bibendum augue at nisi porta vel luctus nisl fringilla. 
						Donec in libero erat.</p> 
						<blockquote> 
						<p> 
							Hello this is a beautiful pullquote, elini a consectetuer 
							mist adipiscing elit. Nunc euismod adipiscing min an 
							agna. Quisque sollicitudin adipicin athenisi a nisi.
							</p> 
						</blockquote> 
						<h3>Unoredered List</h3> 
						<ul> 
							<li>Element of unordered list</li> 
							<li>Element of unordered list</li> 
							<li>Element of unordered list</li> 
						</ul> 
						<hr /> 
						<h3>Ordered List</h3> 
						<ol> 
							<li>Element of ordered list</li> 
							<li>Element of ordered list</li> 
							<li>Element of ordered list</li> 
						</ol> 
						<p>That&#39;s <em>em</em> and here is <strong>strong</strong>. 
						And some <small>small text</small></p> 
					</div> 
					<div> 
						<p>This is a form example.</p> 
						<fieldset> 
						<legend>Register</legend> 
						<h4>Please fill in the form.</h4> 
						<label>Username:</label><input type="text" /><p class="validation error"> 
						this field is required!</p> 
						<label>Full Name:</label><input type="text" /><p class="validation"> 
						*required</p> 
						<label>Medium:</label><input class="medium" type="text" /><p class="validation"> 
						a short descripton about the field.</p> 
						<label>Long:</label><input class="long" type="text" /> 
						<div class="select-group"> 
							<label><input type="checkbox" /> checkbox</label> 
							<label><input type="checkbox" /> checkbox</label> 
							<label><input type="checkbox" /> checkbox</label> 
							<label><input type="checkbox" /> checkbox</label> 
						</div> 
						<div class="select-group"> 
							<label><input type="radio" /> radio button</label> 
							<label><input type="radio" /> radio button 2</label> 
							<label><input type="radio" /> radio button 3</label> 
						</div> 
 
						</fieldset> 
						<fieldset> 
						<legend>Legend</legend> 
						<label>Text area:</label><textarea cols="12" rows="6"></textarea> 
						<label>Text area:</label><textarea cols="16" class="large" rows="10"></textarea> 
						<p class="alignright"> 
						<input class="button black bigger" type="button" value="Register" /> 
						</p> 
						</fieldset> </div> 
				</div> 
			</div> 
		</div> 
		<!-- end div.tab --> 
		
	</div> 
	<!-- end main-content --></div> 
<!-- end page-wrap --> 
<div id="footer"> 
	<p>© 2010 sanderson.santana@gmail.com</p> 
</div> 
<!-- end footer --> 
 
</body> 
<script>
$(document).ready(function() {
	$("#main-content").css('min-height', 500)
});
</script>
</html>