<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> 

<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
	<title>CEP :: Controle Estatístico de Processos</title> 

	<%= stylesheet_link_tag "main" %>
	<%= stylesheet_link_tag "colors/red" %>
	<%= stylesheet_link_tag "superfish" %>


	<%= javascript_include_tag "jquery-1.4.2.min" %>
	<%= javascript_include_tag "jquery.hoverIntent.minified" %>
	<%= javascript_include_tag "superfish" %>
	<%= javascript_include_tag "jquery.tools.min" %>
	<%= javascript_include_tag "jquery.simplemodal" %>
	<%= javascript_include_tag "jquery.notifyBar" %>
	<%= javascript_include_tag "jquery.tipsy" %>
	<%= javascript_include_tag "enhance" %>
	<%= javascript_include_tag "excanvas" %>
	<%= javascript_include_tag "visualize.jQuery" %>
	<%= javascript_include_tag "jQuery.collapsible" %>
	<%= javascript_include_tag "jquery.autoSuggest.packed" %>
	<%= javascript_include_tag "platinum-admin" %>

</head> 

<body> 

	<div id="header"> 
		<div id="header-top"> 
			<div id="logo"> 
				<h1>CEP</h1> 
				<span id="slogan">controle estatístico de processos</span> 
			</div> 
			<!-- end logo --> 
			<div id="login-info"> 
				<img id="profile" alt="profile" src="images/icons/user.png" /> 
				<p id="top">
					<span id="name"><%= current_user.name %></span>
					<br /> 
					<span id="links"> 
						<a id="message-link" href="#" title="click to see the messages!"> 

							<a id="power" href="#" title="Logout">logout</a> 
						</div> 
						<!-- end login --> 
						<div id="nav"> 
							<ul class="sf-menu sf-navbar"> 
								<li>
									<a id="dashboard" href="#a">Principal</a> 
									<ul> 
										<li><a href="#">dashboard with no submenu, this is description!</a> </li> 
									</ul> 
								</li> 
								<li class="current"><a id="articles" href="#a">CEP's</a> 
									<ul> 
										<li class="current"><a href="#aa">write an article</a> </li> 
										<li><a href="#ab">manage articles</a> 
											<ul> 
												<li><a href="#">New Article</a></li> 
												<li><a href="#aba">List All</a></li> 
												<li><a href="#abb">Add New</a></li> 
												<li><a href="#abc">Categorys</a></li> 
												<li><a href="#abd">Tags</a></li> 
											</ul> 
										</li> 
										<li><a href="#">categorys</a> </li> 
										<li><a href="#">tags</a> </li> 
									</ul> 
								</li> 
								<li><a id="users" href="#">Usuários</a> 
									<ul> 
										<li><a href="#">list users</a> 
											<ul> 
												<li><a href="#">Admins</a></li> 
												<li><a href="#">Editors</a></li> 
												<li><a href="#">Writers</a></li> 
												<li><a href="#">Others</a></li> 
											</ul> 
										</li> 
										<li><a href="#">roles</a> 
											<ul> 
												<li><a href="#">List Roles</a></li> 
												<li><a href="#">Add Role</a></li> 
												<li><a href="#">Delete Role</a></li> 
												<li><a href="#">Edit Roles</a></li> 
											</ul> 
										</li> 
										<li><a href="#">manage</a> </li> 
										<li><a href="#">edit</a> </li> 
									</ul> 
								</li> 
								<li><a id="settings" href="#">Configurações</a> 
									<ul> 
										<li><a href="#">themes</a> 
											<ul> 
												<li><a href="#">Change Theme</a></li> 
												<li><a href="#">Edit Theme</a></li> 
											</ul> 
										</li> 
										<li><a href="#">profile</a> 
											<ul> 
												<li><a href="#">Profile picture</a></li> 
												<li><a href="#">Messages</a></li> 
												<li><a href="#">Other Settings</a></li> 
											</ul> 
										</li> 
										<li><a href="#">menu item</a> </li> 
										<li><a href="#">menu item</a> </li> 
									</ul> 
								</li> 
							</ul> 
						</div> 
						<!-- end div#nav --></div> 
						<!-- end div#header-top --> 
						<div class="breadCrumb"> 
							<ul> 
								<li class="first"><a href="#">Home</a> </li> 
								<li><a href="#">Users</a> </li> 
								<li><a href="#">Roles</a> </li> 
								<li class="last">Add new role </li> 
							</ul> 
						</div> 

						<!-- end div#search-box --></div> 
						<!-- end header --> 
						<div id="page-wrap"> 
							<div id="right-sidebar"> 
								<div class="innerdiv"> 
									<h2 class="head">Comments</h2> 
									<div class="innercontent clear"> 
										<h4>Recent Comments</h4> 
										<ul id="comments" class="tooltip-enabled"> 
											<li><a href="#" title="this comment is from John Doe"> 
												<img alt="user" src="images/icons/sender.png" /> 
												<span class="sender">John Doe</span> 
												<span class="description">Hey i liked your theme!</span> 
												<span class="date">20 minutes ago...</span> </a> 
												<span class="floatright"><a title="Aprrove this comment" href="#">Approve</a> | 
													<a title="Delete this comment"  href="#">Delete</a> 
												</span> 
												<br class="clear" /> 
											</li> 
											<li><a href="#" title="again this guy!"> 
												<img alt="user" src="images/icons/sender.png" /> 
												<span class="sender">John Doe</span> 
												<span class="description">Hi, i need some help.</span> 
												<span class="date">24 minutes ago...</span> </a> 
												<span class="floatright"><a title="Aprrove this comment"  href="#">Approve</a> | 
													<a title="Delete this comment"  href="#">Delete</a> 
												</span> 
												<br class="clear" /> 
											</li> 
											<li><a href="#" title="is he a spammer?"> 
												<img alt="user" src="images/icons/sender.png" /> 
												<span class="sender">John Doe</span> 
												<span class="description">Thank you for your help.</span> 
												<span class="date">50 minutes ago...</span> </a> 
												<span class="floatright"><a title="Aprrove this comment"  href="#">Approve</a> | 
													<a title="Delete this comment"  href="#">Delete</a> 
												</span> 
												<br class="clear" /> 
											</li> 
											<li class="last"><a class="all-messages" title="See all comments awaiting confirmation." href="#">See all comments!
												<span class="unreaded">8 awaiting confirm.</span> </a></li> 
											</ul> 

										</div> 
									</div> 
									<div class="innerdiv"> 
										<h2 class="head">Mini Form</h2> 
										<div class="innercontent"> 
											<form action=""> 
												<fieldset class="compact"> 
													<label>Category</label><input type="text" /> 
													<label>Other input</label><input type="text" /> 
													<input type="submit" class="button" value="Ok" /> 
												</fieldset></form> 
											</div> 
										</div> 
									</div> 
									<!-- end right-sidebar --> 
									<div id="main-content"> 
										<%= yield %>
									</div> 
									<!-- end main-content --></div> 
									<!-- end page-wrap --> 
									<div id="footer"> 
										<p>© 2010 Platinum Admin</p> 
									</div> 
									<!-- end footer --> 

								</body> 

								</html>